
{% extends "master.html" %}
{% load static %}

{% block title %}
  Evently
{% endblock %}


{% block content %}
  
  <div class="landing">
    <img src="{% static 'outdoorEvent.png' %}">
    <div class="dateSearch">
      <ul>
        <li><a>Choose a Date</a></li>
        <li><a>Date</a></li>
        <li><a>Search</a></li>
      </ul>
    </div>
  </div>

  <h1>Find your next unforgettable memory</h1>

  <div id="topic">
    <h3 class="topics">Cooking</h3>
    <h3 class="topics">Fitness</h3>
    <h3 class="topics">Outdoors</h3>
    <h3 class="topics">Tech</h3>
    <h3 class="topics">Entertainment</h3>
    <h3 class="topics">Business</h3>
  </div>

  <div id="calendarAndEvents">
    <div id="calendar">
      <div id="year">2024</div>
      <div id="month">February</div>
      <div class="weekDays">Sun</div>
      <div class="weekDays">Mon</div>
      <div class="weekDays">Tue</div>
      <div class="weekDays">Wed</div>
      <div class="weekDays">Thu</div>
      <div class="weekDays">Fri</div>
      <div class="weekDays">Sat</div>
      <div class="dates">1</div>
      <div class="dates">1</div>
      <div class="dates">1</div>
      <div class="dates">1</div>
      <div class="dates">1</div>
      <div class="dates">1</div>
      <div class="dates">1</div>
      <div class="dates">1</div>
      <div class="dates">1</div>
      <div class="dates">1</div>
    </div>
    <div id="events">
      <div class="eventHeading"></div>
    </div>
  </div>

  <h3 class="event">Events</h3>
  
  <p>See a list of our <a href="events/">events</a></p>

  <h3>Users</h3>
  
  <p>See a list of our <a href="users/">users</a></p>
  
{% endblock %}