
{% extends "master.html" %}
{% load static %}

{% block title %}
  Evently
{% endblock %}


{% block content %}
  
  <div class="landing">
    <img src="{% static 'outdoorEvent.png' %}">
    <div class="dateSearch">
      <ul>
        <li><a>Choose a Date</a></li>
        <li><a>Date</a></li>
        <li><a>Search</a></li>
      </ul>
    </div>
  </div>

  <h1>Find your next unforgettable memory</h1>

  <h3 class="event">Events</h3>
  
  <p>See a list of our <a href="events/">events</a></p>

  <h3>Users</h3>
  
  <p>See a list of our <a href="users/">users</a></p>
  
{% endblock %}