{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{'% static 'cal/css/styles.css' %}">
  <link rel="stylesheet", href="{% static 'designs.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div id="NavBar">
  <ul>
    <li><a href="#home">Logo</a></li>
    <li><a href="#home">Evently</a></li>
    <li style="float:right"><a href="#contact">Sign Up</a></li>
    <li style="float:right"><a class="active" href="#about">Sign In</a></li>
  </ul>
  </div>



{% block content %}
{% endblock %}

</body>
</html>