{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet", href="{% static 'designs.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div id="NavBar">
    <ul>
      <li><a href="/">Logo</a></li>
      <li><a href="/">Evently</a></li>
      {% if user.is_authenticated %}
        <li style="float:right">
          <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="logoutBtn">Log Out</button>
          </form>
        </li>
        <li style="float:right">{{ request.user.firstName }}</li>
      {% else %}
      <li style="float:right"><a href="{% url 'signUp' %}">Sign Up</a></li>
      <li style="float:right"><a class="active" id="signInBtn" href="{% url 'login' %}">Sign In</a></li>
      {% endif %}
    </ul>
  </div>

{% block content %}
{% endblock %}
</body>
</html>