body {
  background-color: white;
  color: black;
}

/* Landing Page */

/* NavBar */
#NavBar ul, .dateSearch ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#NavBar li, .dateSearch li {
  float: left;
}

#NavBar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

#NavBar li a:hover {
  background-color: purple;
  text-transform: uppercase;
}

.landing {
  position: relative;
}

.events {
  border-style: double;
  border-radius: 2%;
  border-width: 5in;
}

.landing img {
  display: block;
  width: 85%;
  margin: auto;
  padding-top: 10px;
}

.dateSearch {
  position: absolute;
  bottom: 8px;
  right: 20%;
  margin: auto;
  font-size: 18px;
  background-color: white;
  padding: 10px;
  border: 3px solid green;
  border-radius: 20px;
}

.dateSearch li a {
  padding: 5px;
}
