body {
  background-color: white;
  color: black;
}

/* Landing Page */

/* NavBar */
#NavBar ul, .dateSearch ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#NavBar li, .dateSearch li {
  float: left;
}

#NavBar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

#NavBar li a:hover {
  background-color: purple;
  text-transform: uppercase;
}

.landing {
  position: relative;
}

.events {
  border-style: double;
  border-radius: 2%;
  border-width: 5in;
}

.landing img {
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.dateSearch {
  position: absolute;
  bottom: 8px;
  right: 40%;
  margin: auto;
  font-size: 18px;
  background-color: white;
  padding: 10px;
  border: 3px solid green;
  border-radius: 20px;
}

.dateSearch li a {
  padding: 5px;
}

/* Categories/ Topics section */
#topic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.topics {
  background-color: bisque;
  padding: 20px;
  border: 2px solid teal;
  border-radius: 20px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  max-width: 25%;
  margin-left: 10%;
  margin-right: 10%;
}

/* Calendar and Events Section */
#calendarAndEvents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  background-color: grey;
  border-radius: 20px;
}

#calendar {
  border: 2px solid teal;
  min-width: 68%;
  margin: 5px;
  padding: 10px;
  background-color: 255,255,255,0.25;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#year, #month {
  width: 100%;
}

.weekDays, .dates {
  max-width: 10%;
  border-radius: 40%;
  background-color: white;
  padding: 3px;
}

#events {
  border: 2px solid teal;
  min-width: 20%;
  margin: 5px;
  padding: 10px;
}