body {
  background-color: rgb(230, 230, 230);
  color: black;
}

ul {
  list-style-type: none;
}

.landing, #topic, #calendarAndEvents {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Landing Page */

/* NavBar */
#NavBar ul, .dateSearch ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#NavBar li, .dateSearch li {
  float: left;
}

#NavBar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

#NavBar li a:hover {
  background-color: purple;
  text-transform: uppercase;
}

.landing {
  position: relative;
}

.events {
  border-style: double;
  border-radius: 2%;
  border-width: 5in;
}

.landing img {
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.dateSearch {
  position: absolute;
  bottom: 8px;
  right: 40%;
  margin: auto;
  font-size: 18px;
  background-color: white;
  padding: 10px;
  border: 3px solid green;
  border-radius: 20px;
}

.dateSearch li a {
  padding: 5px;
}

/* Categories/ Topics section */
#topic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.topics {
  background-color: bisque;
  padding: 5%;
  border: 2px solid teal;
  border-radius: 20px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  max-width: 25%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: inset 23px 23px 46px #bebebe,
            inset -23px -23px 46px #ffffff;
}

/* Calendar and Events Section */
#calendarAndEvents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(199, 193, 193);
  border-radius: 20px;
  text-align: center;
  border-radius: 52px;
  background: #e0e0e0;
  box-shadow:  23px 23px 46px #bebebe,
             -23px -23px 46px #ffffff;
}

#calendar {
  border: 2px solid teal;
  min-width: 65%;
  height: 95%;
  margin: 5px;
  padding: 10px;
  background-color: 255,255,255,0.25;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#year, #month, .eventHeading {
  width: 100%;
}

/* Month */
#year, #month, .eventHeading {
  padding: 20px 15px;
  width: 100%;
  text-align: center;
}

/* Previous button inside month header */
#prevMonth {
  float: left;
  padding-top: 10px;
}

table {
  border-collapse: collapse;
}

.calendarTable {
  width: 100%;
  border-collapse: collapse;
}
.calendarTable th, .calendarTable td {
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 40%;
}

.eventDay {
  position: relative;
}

.eventDot {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

/* Next button */
#nextMonth {
  float: right;
  padding-top: 10px;
}

/* Events Display */
#events {
  border: 2px solid teal;
  min-width: 25%;
  margin: 5px;
  padding: 10px;
  min-height: 95%;
  background-color: 255,255,255,0.25;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
} 







